.profile__container {
    max-width: 70%;
    display: flex;
}

@media all and (max-width: 768px) {
    .profile__container {
        gap: 5px;
    }
}

@media all and (max-width: 756px) {
    .profile__container {
        max-width: 100%;
        text-align: center;
        justify-content: center;
    }
}