    .profile__description {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.22;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    
    @media all and (max-width: 928px) {
        .profile__description {
            font-size: 14px;
        }
    }
    
    @media all and (max-width: 756px) {
        .profile__description {
            font-size: 14px;
            text-align: center;
            padding-bottom: 36px;
        }
    }