.popup__input_type_place-name {
    position: absolute;
    left: 36px;
    top: 100px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 8px 0 13px 5px;
}

@media all and (max-width: 578px) {
    .popup__input_type_place-name {
        left: 22px;
    }
}